.header {
  background-color: #6495ed;
  color: white;
  padding: 2.5rem;
}

.trash {
  color: #dc3846;
}

.trash:hover {
  cursor: pointer;
  background: #c4c4c4;
}

.check {
  color: #2aa746;
}

.unfinished {
  display: none;
}

.todo-item:hover {
  cursor: pointer;
}

.cosmic-js {
  width: 30px;
}

.svelte {
  width: 30px;
}

.blue {
  color: #29abe2;
}

.footer {
  margin-top: 4rem;
}
